git+https://github.com/Joeclinton1/google-images-download.git
git+https://github.com/bisoncorps/search-engine-parser
git+https://github.com/pndurette/gTTS.git
git+https://github.com/Boudewijn26/gTTS-token.git
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/ytdl-org/youtube-dl.git
git+https://github.com/Zulko/moviepy.git
aiohttp
aria2p
async_generator
bs4
beautifulsoup4>=4.8.1
cowpy
cryptg
dnspython
emoji
gitpython
google-api-python-client
google-auth-oauthlib
googletrans>=2.4.0
google_images_download>=2.7.1
hachoir
httplib2
humanize
heroku3
lxml==4.5.2
lyricsgenius
oauth2client
pytz
psycopg2
pybase64>=0.4.0
pylast==3.0.0
pySmartDL
python-barcode
python-dotenv
qrcode
requests>=2.18.4
speedtest-cli>=2.0.2
sqlalchemy>=1.2
spotdl
selenium>=3.141.0
telethon>=1.10.6
telethon-session-sqlalchemy>=0.2.6
urbandict>=0.5
wikipedia>=1.4.0
coffeehouse
spotify_token
twitter_scraper
chromedriver-autoinstaller
numpy
Pillow
telegraph
lottie
eksipy
pydub
emoji-country-flag
cairosvg
imagedown
